<h1>Jimpster index.</h1>

<% report.forEach(function(collection){ %>

    <h2>collection: <%= collection.name %></h2>

    <% collection.files.forEach(function(file){ %>

	   <img src="<%= file %>">
	
    <% }); %>

<% }); %>