<h1>Lexter</h1>

<div class="wrap_word_count">

    <h2>files by word count: </h2>
    <% reports.forEach(function(report,index){ %>

        <ul>

            <li>#<%= index + 1 %></li>
            <li>href: <a href="<%= report.href %>"><%= report.href %></a></li>
            <li>word count: <%= report.wordCount %></li>

        </ul>

    <% }); %>

</div>