
<div class="wrap_lexter">

    <h1>Lexter</h1>

    <h2>Each</h2>
    <p><a href="/lexter/each_index_1.html">index</a></p>

    <h2>files by word count: </h2>
    <% reports.forEach(function(report,index){ %>

        <ul>

            <li>#<%= index + 1 %></li>
            <li>href: <a href="<%= report.href %>"><%= report.href %></a></li>
            <li>word count: <%= report.wordCount %></li>

        </ul>

    <% }); %>

</div>