
<div class="wrap_post_index">

    <h1><%= title %></h1>

    <% posts.forEach(function(post){ %>

        <div class="post_card">

            <a href="<%= post.href %>"><%= post.title %></a>

        </div>

    <% }); %>

    <%- prevNextDiv() %>

</div>
